<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--servlet declaration-->
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>servlets.First_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>servlets.Second_GenericServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>third</servlet-name>
        <servlet-class>servlets.Third_HttpServlet</servlet-class>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>third</servlet-name>
        <url-pattern>/servlet3</url-pattern>
    </servlet-mapping>
    
    
    <!--make your own default home page-->
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    
    
    
    <!--servlet declaration-->
    <servlet>
        <servlet-name>form</servlet-name>
        <servlet-class>form.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>attribute_parameter.s1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>attribute_parameter.s2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs1</servlet-name>
        <servlet-class>cookies.cs1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs2</servlet-name>
        <servlet-class>cookies.cs2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hts1</servlet-name>
        <servlet-class>httpsession.hts1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hts2</servlet-name>
        <servlet-class>httpsession.hts2</servlet-class>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs1</servlet-name>
        <url-pattern>/cs1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs2</servlet-name>
        <url-pattern>/cs2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hts1</servlet-name>
        <url-pattern>/hts1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hts2</servlet-name>
        <url-pattern>/hts2</url-pattern>
    </servlet-mapping>
    
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
